<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProductionAdHoc.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
				<key>dateExpires</key>
				<string>7/31/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>InAppSettingsKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KAProgressLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ROX.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ROXCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TTTAttributedLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1B8F2E09F196BF06AB7C9C6070B5C1123D474623</string>
						<key>dateExpires</key>
						<string>7/31/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5E845CEVPW</string>
						<key>name</key>
						<string>HPHLP</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5E845CEVPW.com.macmillan.REEFEducation</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5E845CEVPW</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>5E845CEVPW.com.macmillan.REEFEducation</string>
				</array>
			</dict>
			<key>name</key>
			<string>Reef.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2579b61b-a11a-4739-96ca-706cca420cef</string>
				<key>name</key>
				<string>REEF iOS Ad Hoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5E845CEVPW</string>
				<key>name</key>
				<string>HPHLP</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
